.body-bg {
  background-image: url(/283f4beb7390c9142e92849ec3d93c8c.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center;
  
}

.bg-card {
  background-color: rgba(0, 0, 0, 0.4);
  border: solid yellow
}